.container-content {
    max-width: 1332px;
    width: 100%;
    margin: 0 auto;
}

.container-content--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container-content--search {
    margin-top: 20px;
    padding-top: 11px;
    padding-bottom: 13px;
    border-bottom: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container-content--cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-mob, .select-bar {
    display: none;
}

/* header-page */
.header-page {
    padding-top: 13px;
    box-shadow: 0 2px 10px 5px #E5E5E5;
    padding-bottom: 13px;
}

.logo-box__link {
    text-decoration: none;
    display: flex;
    max-width: 73px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo-box .logo-box__title {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 26px;
    color: #081531;
    margin-right: 5px;
}

.logo-box .logo-box__ico {
    position: relative;
    top: 2px;
}

.navigation {
    width: 100%;
    padding-left: 117px;
}

.navigation__list {
    display: flex;
    width: 550px;
    justify-content: space-between;
    position: relative;
    top: 2px;
}

.navigation__list .navigation__link {
    font-size: 15px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #081531;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.navigation__list .navigation__link:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid #081531;
}

.personal-page {
    width: 60px;
    height: 52px;
    border-radius: 50%;
    background-color: #E1E6FF;
    background-image: url("../assets/images/svg/user-ico.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.user-panel {
    display: none;
    width: 276px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    position: absolute;
    top: 78px;
    right: 0;
}

.user-panel--active {
    display: block;
}

.user-panel .user-panel__header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    border-bottom: 1px solid #EAEAEA;
}

.user-panel .user-panel__text {
    font-family: 'SF Pro Display', sans-serif;
    color: #081531;
    display: block;
}

.user-panel .user-panel__header .user-panel__text--name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.user-panel .user-panel__header .user-panel__text--email {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-top: 6px;
}

.user-panel .user-panel__body {
    padding: 21px 25px 40px;
    border-bottom: 1px solid #EAEAEA;
}

.user-panel .user-panel__body .user-panel__text--projects {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.user-panel .user-panel__body .user-panel__text--projects span {
    position: absolute;
    right: 0;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #4640DE
}

.user-panel .user-panel__body .user-panel__text--settings {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-top: 22px;
}

.user-panel .user-panel__footer .user-panel__btn {
    padding-top: 15px;
    padding-bottom: 13px;
    width: 100%;
    border: none;
    background-color: #FFF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #4640DE;
    font-family: 'SF Pro Display', sans-serif;
}


    /* search-bar */
.search {
    max-width: 575px;
    width: 100%;
}

.search .search__input {
    height: 39px;
    border: none;
    max-width: 455px;
    width: 100%;
    background-color: #F1F1F1;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 12px;
    font-family: 'SF Pro Display', sans-serif;
}
.search .search__input::placeholder {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.03em;
    color: #646464;
    background-image: url("../assets/images/svg/search-ico.svg");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: center;
}

.search .search__btn {
    display: inline-block;
    margin-left: 7px;
    width: 109px;
    color: #fff;
    border: none;
    background-color: #4640DE;
    border-radius: 4px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    text-align: left;
    position: relative;
    top: -1px;
    background-image: url("../assets/images/svg/filter-btn-ico.svg");
    background-repeat: no-repeat;
    background-position-x: 77%;
    background-position-y: center;
}

.ctrls {
    max-width: 233px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctrls button {
    border: none;
    background-color: transparent;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
    color: #646464;
    transition: opacity .3s;
}

.ctrls .ctrls__btn--active {
    color: #4640DE;
}

.ctrls button:hover {
    opacity: .9;
}




.filters-panel {
    display: none;
    position: absolute;
    top: 60px;
    max-width: 1332px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 15px #E5E5E5;
    padding: 26px 23px 32px;
    z-index: 999;
}

.filters-panel--active {
    display: block;
}

.filters-panel .filters-panel__header .filters-panel__title {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.03em;
    color: #081531
}

.filters-panel .filters-panel__body {
    padding-top: 5px;
}

.filters-panel .filters-panel__body .filters-panel__btn {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #081531;
    padding: 15px 18px 14px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 12px;
    margin-right: 10px;
    transition: all .2s;
}

.filters-panel .filters-panel__body .filters-panel__btn--Memorial {
    padding: 15px 15px 14px;
}

.filters-panel .filters-panel__body .filters-panel__btn img{
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.filters-panel .filters-panel__body .filters-panel__btn--active {
    border: 1px solid #4640DE;
    box-sizing: border-box;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    color: #4640DE;
}

.filters-panel .filters-panel__body .filters-panel__btn:hover {
    border: 1px solid #4640DE;
}
.filters-panel .filters-panel__body .filters-panel__btn:active {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
}



.filters-panel .filters-panel__footer {
    padding-top: 36px;
    text-align: right;
}

.filters-panel .filters-panel__footer .filters-panel__btn {
    background: #4640DE;
    border-radius: 4px;
    border: 0;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    padding: 10px 45px;
}




    /* project-cards */
.project-cards {
    padding: 18px 5px 15px;
}

.project-card {
    border-radius: 3px;
    max-width: calc(33.3% - 18px);
    width: 100%;
    margin-bottom: 27px;
    box-shadow: 0 0 15px #E5E5E5;
}

.project-card .project-card__img {
    width: 100%;
}

.project-card .wrapper-content {
    margin: 38px 25px 30px;
}

.project-card .project-card__title {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #081531;
}

.project-card .project-card__text {
    margin-top: 30px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 156.7%;
    color: #3E434F;
    height: 84px;
    overflow: hidden;
}

.company {
    margin-top: 28px;
    display: flex;
}

.company .description {
    margin-left: 13px;
}

.company .description span {
    display: block;
}

.company .description .description__title {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #081531;
}

.company .description .description__geolocation {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #969696;
}

.project-card .progress-bar {
    margin: 25px auto 28px;
    position: relative;
}

.project-card .progress-bar .progress-bar__track {
    max-width: 373px;
    height: 8px;
    background: #D2D2D2;
    border-radius: 10px;
}

.project-card .progress-bar .progress-bar__progress {
    height: 8px;
    max-width: 323px;
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    background-color: #4640DE;
}

.project-card--2 .progress-bar--card-2 .progress-bar__progress, .project-card--5 .progress-bar--card-5 .progress-bar__progress {
    width: 28px;
}



.project-card .bottom-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.project-card .bottom-content span {
    display: block;
}

.bottom-content .price .price__name, .bottom-content .validity .validity__title {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 137.7%;
    color: #969696;
}

.bottom-content .price .prices__price, .bottom-content .validity__date {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 137.7%;
    color: #081531;
}








@media (max-width: 1000px) {
    .project-card .project-card__text {
        height: 250px;
    }

    .project-card .bottom-content {
        flex-direction: column;
    }
}
@media (max-width: 807px) {
    .navigation {
        padding-left: 30px;
    }
    .search .search__btn {
        margin-left: 0;
        margin-top: 16px;
        display: block;
    }
}
@media (max-width: 715px) {
    .header-page {
        display: none;
    }
    .header-mob {
        display: block;
        box-shadow: 0 2px 10px 5px #E5E5E5;
    }
    .container-content--header {
        max-width: 339px;
        margin: 0 auto;
        padding-top: 21px;
        padding-right: 35px;
        padding-bottom: 21px;
    }
    .container-content--search, .container-content--select, .container-content--cards {
        max-width: 339px;
        margin: 0 auto;
    }
    .menu-ctrl {
        height: 12px;
        width: 44px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    .menu-ctrl .menu-ctrl__line {
        height: 3px;
        background: #969696;
        border-radius: 2px;
    }


    .container-content--search {
        border: 0;
        flex-direction: column;
        padding-top: 18px;
    }
    .ctrls {
        margin-top: 16px;
    }
    .ctrls .ctrls__btn {
        padding: 0;
    }


    .select-bar {
        display: block;
    }
    .select-ctrls {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .select-bar__item:first-child {
        margin-right: 5px;
        margin-bottom: 12px;
    }
    .select-ctrls .select-bar__item {
        max-width: 167px;
        width: 100%;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        position: relative;
        height: 49px;
        padding: 16px 13px 13px 18px;
    }
    .select-ctrls .select-bar__item .select-ctrls__ico {
        position: relative;
        top: -3px;
    }
    .select-ctrls .select-bar__item .select-ctrls__title {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #081531;
        display: inline-block;
        margin-left: 5px;
    }
    .select-ctrls .select-bar__item .select-ctrls__counter {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #4640DE;
        position: absolute;
        right: 18px;
    }
    .select-categories {
        width: 100%;
        height: 40px;
        padding: 10px 12px 12px 10px;
        margin-top: 12px;
        border: 1px solid #D8D8D8;
        box-sizing: border-box;
        border-radius: 4px;
    }

    .select-categories .select-header {
        position: relative;
    }

    .select-categories .select-header .select-header__default-value{
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.03em;
        color: #646464;
    }
    .select-categories .select-header .select-header__btn {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
    }
    .select-body {
        display: none;
        max-height: 295px;
        width: 339px;
        overflow-y: scroll;
        position: relative;
        background: #fff;
        z-index: 10;
        left: -10px;
        top: 16px;
        box-shadow: 0 10px 10px 4px #E5E5E5;
    }
    .select-body--active {
        display: block;
    }
    .select-body .select-categories__item {
        padding-left: 12px;
        padding-right: 23px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .select-body .select-categories__item .item-text {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #171F2E;
    }
    .select-body .select-categories__item .item-counter {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #4640DE
    }
    .container-content--cards {
        flex-direction: column;
        align-items: center;
    }
    .project-card {
        max-width: 100%;
    }
    .project-card .project-card__text {
        height: 76px;
    }
    .project-card .bottom-content {
        flex-direction: row;
    }

}